/*@font-face declarations*/


body, h1, h2, h3, p 
{
	/*font-family:Sans-Serif;*/
	/*font shorthand, format is:*/
	/* font: [font-weight] [font-style] [font-varient] [font-size]/[line-height] [font stack]*/
	 /*minimal font: shorthand needs to be passed font-size and font-family:*/
	/*font: [size] [family]*/
	/*very simple CSS reset for margin, since margin has a default value that comes from the browser,*/
	/*this value determins the spacing between elements on the page (so presumably any more margin thats*/
	/*added will take this default into account - hence the reset)*/
	margin:0;
}

section
{
	/*font-size: 1.4em;
	color:Red;*/
}

h1
{
	margin-bottom:1em;
}

p
{
	/*color:Blue;*/
	margin-bottom:1em;
}

/*table styles - this table is an (pretty much exact) replica of the one in the CSS fundamentals tut on lynda.com
it shows the various ranks of selectors which determins what overides what in a stlyesheet*/
table
{
	font-family:Arial;
	font-size:0.8em;
	color:Black;
	margin-bottom:1em;
}

tr:nth-child(2n+1)
{
	background:#F2F2F2;
}

tr
{
	text-align:center;
	height:50px;
}

th
{
	margin:4px 4px 4px 4px;
	width: 200px;
}

td:first-of-type, th
{
	background:Grey;
	color:White;
}

tr > td:first-of-type
{
	text-align:left;
	padding-left:10px;
}
/*end table styles*/